*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid black;
}

.top-1{
    /*border: 2px solid black;*/
    margin: 30px 30px;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.top-request{
    /*border: 2px solid black;*/
    color: #260F01;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-shadow: 4px 4px 4px 4px;
}

#show-request{
    /*border: 2px solid black;*/
    padding: 0 auto;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
}

.top-2{
    /*border: 2px solid black;*/
    color: #A0A603;
    margin: 30px 30px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-shadow: 4px 4px 4px 4px;
}


.display-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
    width: 900px;
    height: 200px;
    border-radius: 32px;
    border: 3px solid #A0A603;
    box-shadow: 8px 8px 3px 0px inset;
    background: #FEFEFE;
    padding: 30px 20px;
}

.framebox{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 800px;
    height: 180px;
    border-right: 2px solid rgb(0, 0, 0, 0.1);
    overflow: auto
}

.framebox > iframe{
    border: 2px solid black;
    width: 200px;
    height: 150px;
    margin: auto;
}

.display-image > button{
    border: 2px solid black;
    padding: 25px;
    border-radius: 100%;
}

.display-video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
    width: 1000px;
    height: 220px;
    border-radius: 32px;
    border: 3px solid #A0A603;
    box-shadow: 8px 8px 3px 0px inset;
    background: #FEFEFE;
    /*padding: 30px 20px;*/
}

.framebox-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 900px;
    height: 200px;
    border-right: 2px solid rgb(0, 0, 0, 0.1);
    overflow: auto;
    margin-top: 5px;
}

.framebox-2-container{
    /*border: 2px solid black;*/
    height: 190px;
    width: 230px;
    margin: auto;
}

.framebox-2-container > iframe{
    border: 2px solid black;
    width: 200px;
    height: 150px;
    margin: 0px 12.5px;
    border-radius: 5px;
}

.framebox-2-container > h5{
    /*border: 2px solid black;*/
    color: black;
    margin: 0 auto;
    width: 180px;
    text-align: center;
}

.display-video > button{
    border: 2px solid black;
    padding: 25px;
    border-radius: 100%;
}

.display-text{
    /*border: 2px solid black;*/
    margin: 20px auto;
    width: 1200px;
    /*height: 200px;*/
}

.text-box{
    /*border: 2px solid black;*/
}

.text-box .text-title{
    /*border: 2px solid black;*/
    width: 1200px;
    color: #260F01;
    font-size: 32px;
    font-weight: 900;
    line-height: normal;
    text-decoration-line: underline;
}

.text-container{
    height: 60px;
}

.text-box > p{
    /*border: 2px solid black;*/
    font-size: 20px;
    font-weight: 300px;
    line-height: normal;
    font-style: normal;
    padding: 10px auto;
    margin: 10px auto;
    
}

.text-box > p > a{
    color: #A0A603;
}

.text-bottom{
    /*border: 2px solid black;*/
    display: flex;
    margin: 5px auto;
    align-items: center;
    justify-content: space-around;
    width: 800px;
}

.source{
    /*border: 2px solid black;*/
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.source > img{
    /*border: 2px solid black;*/
    width: 18px;
    height: 18px;
}

.source > a{
    /*border: 2px solid black;*/
    color: black;
    font-size: 12px;
}

.page-visit{
    /*border: 2px solid black;*/
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.page-visit > img{
    /*border: 2px solid black;*/
    width: 18px;
    height: 18px;
}

.page-visit > span{
    /*border: 2px solid black;*/
    font-size: 12px;
}

.publish-date{
    /*border: 2px solid black;*/
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.publish-date > img{
    /*border: 2px solid black;*/
    width: 18px;
    height: 18px;
}

.publish-date > span{
    /*border: 2px solid black;*/
    font-size: 12px;
}

.page-id{
    /*border: 2px solid black;*/
    display: flex;
    gap: 560px;
    justify-content:flex-end;
    align-items: center;
    margin-right: 100px;
}

.page-number{
    /*border: 2px solid black;*/
    font-size: 16px;
}

.page-next{
    /*border: 2px solid black;*/
    font-size: 24px;
}

footer{
    /*border: 2px solid black;*/
    margin: auto;
}

footer > .footer-title{
    /*border: 2px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .footer-title > img{
    /*border: 2px solid black;*/
    width: 15px;
    height: 15px;
}

footer > img{
    /*border: 2px solid black;*/
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}